* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #000;
}

#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer p {
  font-size: 3.5rem;
  font-weight: 400;
  color: #fff;

  padding-bottom: .8rem;

  border-bottom: solid 2px #333;
}

#timer span {
  font-size: 5.2rem;
  font-weight: 600;
  color: #fff;
}